<!DOCTYPE html>
<html lang="en">

  <head>
    <title>My</title>
    <link href="css/screen.css" type="text/css" rel="stylesheet" />
  </head>
  
  <body>
    <h1>New York Puppy App</h1>
    
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    
    <div>
      <img src="http://dgicdplf3pvka.cloudfront.net/854494/akc-harlequin-great-dane-puppydog-great-dane-puppy-06373b76-fb1a-4b1b-ba98-0b48f612db6d.jpg" />
    </div>

    <div>
      <h3 class="person"> What is your full name?</h3>
    </div>

    <div class = "form">
      <form action="/submit" method="POST">
        
        <input type= "text" name="full_name"/>

        <h3>What color puppy are you looking for?</h3>
        
        <div>
          <label form="answer">Grey Tiger</label>
          <input type="radio" name="answer" value="Grey Tiger"/>
        <div>
        
        <div>
          <label form="answer">Harlequin</label>
          <input type="radio" name="answer" value="Harlequin" />
        </div>
        
        <div>
          <label for="answer">Blue</label>
          <input type="radio" name="answer" value="Blue" />
        </div>
        
        <div>
          <label for="tc">
            I certify that I am sane and capable of making this 
            decision.
          <label>
          <input type="checkbox" name="tc" value="1"/>
        </div>
        
        <div>
          <input id="button" type="submit" name="submit" value="Submit" />
        </div>
      
      </form>
    </div>
    
  </body>

</html>