<!DOCTYPE html>
<html lang="en">

  <head>
    <title>My</title>
    <link href="css/screen.css" type="text/css" rel="stylesheet" />
  </head>
  
  <body>
    <nav class='nav'>
      <div class='bitcoinquiz'>
        <h1>Bitcoin Quiz</h1> 
      </div>

      <div class='decoded'>
        <h1>Decoded presentation July 13</h1> 
      </div>
    </nav>
    
    <%# if flash[:notice] %>
      <div class="flash">
        <%#= flash[:notice] %>
      </div>
    <%# end %>
    
   <!--  <div class="image">
      <img src="http://www.bitcoinrecord.com/wp-content/uploads/2013/06/9Bitcoin.jpg" />
    </div> -->

    <div class = "form">
      <form action="/submit" method="POST">

        <div class='name'>
           <h3> What is your full name?</h3>
           <input type= "text" name="full_name"/>
        </div>

        <div class='number'>
           <h3> What is your phone number?(please include country code ie/+44)</h3>
           <input type= "integer" name="phone_number"/>
        </div>

        <div class='question1'>
          <h3>Q1/ What are Bitcoins?</h3>
          
          <div>
            <label form="answer1">Cryptocurrency</label>
            <input type="checkbox" name="answer1" value="21 million"/>
          </div>
          
          <div>
            <label form="answer1">Encryptocurrency</label>
            <input type="checkbox" name="answer1" value="24 million" />
          </div>
          
          <div>
            <label for="answer1">Decryptocurrnecy</label>
            <input type="checkbox" name="answer1" value="26 million" />
          </div>
        </div>

         <h3>Q2/ What year was Bitcoin first described in a scientific paper?</h3>
        
        <div>
          <label form="answer2">2004</label>
          <input type="checkbox" name="answer2" value="2004"/>
        <div>
        
        <div>
          <label form="answer2">2008</label>
          <input type="checkbox" name="answer2" value="2008" />
        </div>
        
        <div>
          <label for="answer2">2010</label>
          <input type="checkbox" name="answer2" value="2010" />
        </div>

         <h3>Q3/ How much is the Bitcoin cryptocurrency currently worth?</h3>
        
        <div>
          <label form="answer">1.5 billion US dollars</label>
          <input type="checkbox" name="answer" value="1.5 billion US dollars"/>
        <div>
        
        <div>
          <label form="answer">1 billion US dollars</label>
          <input type="checkbox" name="answer" value="1 billion US dollars" />
        </div>
        
        <div>
          <label for="answer">0.8 billion US dollars</label>
          <input type="checkbox" name="answer" value="0.8 billion US dollars" />
        </div>


        
        <!-- <div>
          <label for="tc">
            I certify that I am sane and capable of making this 
            decision.
          <label>
          <input type="checkbox" name="tc" value="1"/>
        </div> -->
        
        <div class='submit'>
          <input id="button" style="font-face: 'Comic Sans MS'; font-size: larger; color: black; border: 3pt ridge lightgrey" type="submit" name="submit" value="Submit" />
        </div>
      
      </form>
    </div>
    
  </body>

</html>