body {
  font-family: "Lucida Bright", Georgia, serif;  
}

h1 {
  font-size: 40pt;
  text-align: center;
  color: #bb00bb;
}

img {
  border: 7px solid blue;  
  width: 400px;
  margin-left: 150px;
}

div.flash {
  border: 1px solid red;
  text-align:center;
  padding: 20px;
  width: 100%;
}