body {
  font-family: "Lucida Bright", Georgia, serif;  
}

h1 {
  font-size: 40pt;
  margin-left: 80px;
  color: #bb00bb;
}

img {
  border: 7px solid blue;  
  width: 400px;
  margin-left: 150px;
}

div.flash {
  border: 1px solid red;
  text-align:center;
  padding: 20px;
  width: 100%;
}

div.form {
	margin-left: 150px; 
	margin-right: 150px;
    font-family: cursive;}

#button {
	width:50px;
    height: 50px;
    border-radius:50%;
    background-color:#bb00bb;
    margin-top: 10px;
    font-family: cursive;
    font-size: 12px;
    }

h3.person {
	font-family: cursive;
	margin-left: 150px;
	margin-bottom: 0px;
	margin-top: 0px;
}
 