@font-face {
    font-family: 'BlackoutMidnight';
    src: url('/fonts/Blackout-Midnight-webfont.eot');
    src: url('/fonts/Blackout-Midnight-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Blackout-Midnight-webfont.woff') format('woff'),
         url('/fonts/Blackout-Midnight-webfont.ttf') format('truetype'),
         url('/fonts/Blackout-Midnight-webfont.svg#BlackoutMidnight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('/fonts/BebasNeue-webfont.eot');
    src: url('/fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/BebasNeue-webfont.woff') format('woff'),
         url('/fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('/fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


.nav{
  background-color:lightblue;
  height:60px;
}

.bitcoinquiz{
    width:300px;
    float:left;
   /* background-color:red;*/
 }

 .bitcoinquiz h1{
  margin-left:5%;
  font-family: 'BlackoutMidnight';
 }
  
.decoded{
  margin-left: 850px;
}

.decoded h1{
  padding-top: 5%;
  font-family: 'BlackoutMidnight';
}

img{
  border: 3px solid black;
  text-align: center;
  width:300px;
}

.form{
   font-family: 'BebasNeueRegular';
   margin-left:20px;
}

.name{
  float:left;
  margin-right:40px;
}

.name h3{
  margin-top:-1px;
}

.number{
  /*margin-left:250px;*/
 /* padding-top:1px;*/
}

.question1{
  clear:both;
}

.submit{
  margin-top:20px;
}

.input{
    border: 1px solid #006;
    background: #ffc;
    font-family: 'BebasNeueRegular';
}

#button{
  font-family: 'BebasNeueRegular';
}

 